// RESET

*,
*::before,
*::after {
	box-sizing: border-box;
	// outline: 1px solid red;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

// html {
// 	color-scheme: dark light;
// }

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

// MAIN
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text-white {
	color: #fff;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
	background-color: transparent;
}

.mobile-only {
	display: none;

	@media (max-width: 1024px) {
		display: block;
	}
}

.navbar {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: auto;
	z-index: 9000;
	margin-top: 48px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: transparent;

	@media (max-width: 768px) {
		margin-top: 15px;
	}
}

.w-nav {
	position: relative;
	z-index: 1000;

	&:before,
	&:after {
		content: " ";
		display: table;
		grid-column-start: 1;
		grid-row-start: 1;
		grid-column-end: 2;
		grid-row-end: 2;
	}
}

.brand {
	margin-top: 17px;
	margin-bottom: 15px;
	padding-left: 0px;

	@media (max-width: 1024px) {
		margin-top: 5px;
	}

	@media (max-width: 1024px) {
		&.w--current {
			margin-top: 4px;
			margin-bottom: 4px;
		}
	}
}

.w-nav-brand {
	position: relative;
	float: left;
	text-decoration: none;
	color: #333333;
}

.logo {
	width: 100%;
	max-width: 270px;
}

.nav-menu {
	display: flex;
	justify-content: flex-end;

	@media (max-width: 1024px) {
		z-index: 9999;
		display: none;
		min-height: 100vh;
		margin-top: -109px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		background-color: #6a148e;
	}

	@media (max-width: 1024px) {
		&.full {
			display: flex;
			width: 100%;
			min-height: auto;
			margin-top: 32px;
			margin-bottom: 32px;
			align-items: flex-start;
			background-color: transparent;
		}
	}
}

.w-nav-menu {
	position: relative;
	float: right;
}

.navlink.w--current {
	color: #25252f;
	font-weight: 900;
}

.navlink {
	padding: 20px 25px !important;
	color: #25252f;

	@media (max-width: 1024px) {
		margin-left: 0px;
		color: #fff;
		font-size: 30px;
		line-height: 30px;
		font-weight: 900;
	}

	@media (max-width: 1024px) {
		&._2 {
			padding-top: 8px !important;
			padding-bottom: 8px !important;
			font-size: 16px;
			line-height: 24px;
			font-weight: 400;
			text-decoration: none;
		}
	}
}

.navlink2 {
	padding: 20px;
	color: #25252f;

	@media (max-width: 1024px) {
		margin-left: 0px !important;
		color: #fff !important;
		font-size: 30px;
		line-height: 30px;
		font-weight: 900;
	}
}

.navlink2.w--current {
	color: #25252f;
	font-weight: 700;

	@media (max-width: 1024px) {
		color: #fff;
	}
}

.navlink2.w-nav-link.w--current::after {
	content: "";
	position: absolute;
	background-color: #0c9b99;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	left: -10px;
	top: 30px;
	transform: translateX(-50%);
}

.w-nav-link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #222222;
	padding: 20px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.navlink.w-nav-link.w--current::after,
.navlink.teamslink.w-dropdown-toggle::after {
	content: "";
	position: absolute;
	background-color: #0c9b99;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
}

.dropdown {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.w-dropdown {
	display: inline-block;
	position: relative;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	z-index: 900;
}

.w-dropdown-toggle {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	cursor: pointer;
	padding-right: 40px;
}

.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
	position: relative;
	vertical-align: top;
	text-decoration: none;
	color: #222222;
	padding: 20px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
}

.navlink3 {
	padding: 20px 0px;
	color: #25252f;
	text-decoration: none;
}

.dropdown-list {
	background-color: #fff;
}

.w-dropdown-list.w--open {
	display: block;
}

.dropdown-list.w--open {
	left: auto;
	top: 64px;
	right: 50%;
	bottom: 0%;
	width: 467px;
	box-shadow: 0 20px 29px 0 rgb(0 0 0 / 4%);
}

@media (max-width: 1024px) {
	.dropdown-list-2 {
		display: flex;
		overflow: hidden;
		flex-direction: column;
	}
}

@media (max-width: 768px) {
	.dropdown-list-2 {
		position: static;
	}
}

.height-auto {
	height: auto !important;
}

.w-dropdown-list {
	position: absolute;
	background: #dddddd;
	display: none;
	min-width: 100%;
}

.w-dropdown-list.w--open {
	display: block;
}

.circlegreen {
	position: absolute;
	left: auto;
	top: -5px;
	right: -5px;
	bottom: auto;
	z-index: 1;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #0c9b99;
}

.teamwrapper.notopmargin.shadow {
	box-shadow: 0 0 50px 0 rgb(12 155 153 / 10%);
}

.teamwrapper.notopmargin {
	width: 381px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.teamwrapper {
	position: relative;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 58px 43px;
	background-color: #fff;
}

.navlink4 {
	position: relative;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #25252f;
	text-decoration: none;
}

.w-inline-block {
	max-width: 100%;
	display: inline-block;
}

.teamline {
	width: 100%;
	color: #25252f;
	text-decoration: none;
}

.teamcontainer {
	position: relative;
	display: flex;
	margin-top: 32px;
	margin-bottom: 32px;
	justify-content: space-between;
}

.teamcontainer {
	object-fit: cover;
}

.teamcontainer.smallmargin {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	justify-content: space-between;
	align-items: center;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	color: #25252f;
	text-decoration: none;
	cursor: pointer;
}

.teamcontainer.smallmargin:hover {
	font-weight: 900;
}

.teamcontainer.full {
	width: 100%;
	max-height: 800px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.teamcontainer.nomargin {
	margin-top: 0px;
}

.teamcontainer.topright {
	position: absolute;
	left: auto;
	top: 0%;
	right: 0%;
	bottom: auto;
	width: 60%;
	margin: 16px;
}

.teamcontainer.topright.hideonmobile {
	margin: 39px 28px;
}

.teamcontainer.bottomleft {
	position: absolute;
	left: 0%;
	top: auto;
	right: auto;
	bottom: 0%;
	width: 60%;
	margin: 39px 28px 39px 36px;
}

.nomargin {
	margin-top: 0px;
	margin-bottom: 0px;
}

.teamline {
	width: 100%;
	color: #25252f;
	text-decoration: none;
}

.color-circle {
	width: 30px;
	height: 30px;
	margin-right: 16px;
}

.color-circle.absolute-circle {
	position: absolute;
	left: auto;
	top: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 1;
	opacity: 0;
}

.color-circle._2 {
	position: absolute;
	left: auto;
	top: 0%;
	right: 0%;
	bottom: 0%;
}

.line {
	height: 1px;
	background-color: #d2d2dd;
}

// MOBILE MENU
.showmenu {
	display: none;
}

@media (max-width: 1024px) {
	.showmenu {
		position: relative;
		z-index: 9000;
		display: block;
		float: right;
	}
}

@media (max-width: 1024px) {
	.menuicon {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 1024px) {
	.menubutton {
		display: none;
		padding: 12px;
		border-radius: 100%;
		background-color: #6a148e;
		color: #fff;
	}
}

.opacity1 {
	visibility: visible !important;
	opacity: 1 !important;
	transition: all 0.3s !important;
}

@media (max-width: 1024px) {
	.fullmenu {
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s !important;
		position: fixed;
		left: 0%;
		top: 0%;
		right: 0%;
		bottom: 0%;
		z-index: 9999;
		overflow: auto;
		min-height: 100vh;
		margin-top: 0px;
		padding-top: 48px;
		padding-right: 20px;
		padding-left: 20px;
		flex-direction: column;
		justify-content: space-between;
		background-color: #6a148e;
		color: #fff;
	}
}

@media (max-width: 768px) {
	.fullmenu {
		padding-top: 15px;
		transition: all 0.3s !important;
	}
}

@media (max-width: 1024px) {
	.div-block-3 {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

.closemenu {
	display: none;
	transition: all 0.3s !important;

	@media (max-width: 1024px) {
		display: block;
		float: right;
		transition: all 0.3s !important;
	}
}

.dropdown-navlink {
	padding: 0px 20px;
	color: #25252f;

	@media (max-width: 768px) {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	@media (max-width: 1024px) {
		display: flex;
		margin-left: 0px;
		padding-top: 20px;
		padding-bottom: 20px;
		align-items: center;
		color: #fff;
		font-size: 30px;
		line-height: 30px;
		font-weight: 900;
		text-decoration: none;
	}
}

@media (max-width: 1024px) {
	.dropdown-navlink._2 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (max-width: 1024px) {
	.arrow-dropdown {
		width: 22px;
		margin-left: 20px;
		transform: rotate(180deg);
		transition: 0.3s;
	}
}

.rotate-0 {
	transform: rotate(0deg);
}
